  /* 44444444444444444444444 */

  @for $j from 1 to 6 {
    .text-#{$j} {
      font-size: 15px * $j;
    }
  }
  
  /* <!--111111111111111111111111111--> */
  @mixin shape($w, $h, $bg-color) {
    width: $w;
    height: $h;
    background-color: $bg-color;
  }

  #square {
    @include shape(50px, 50px, red);
  }

  #rect-a {
    @include shape(100px, 50px, blue);
  }

  #rect-b {
    @include shape(50px, 100px, orange);
  }

  /* <!--2222222222222222222222222222--> */
  $text-color: red;

  .header {
    text-align: center;
  }
  .blog-post,
  h2 {
    color: $text-color;
  }

  /* <!--33333333333333333333333333333333--> */

  @mixin border-stroke($val) {
    @if $val == light {
      border: 1px solid black;
    } @else if $val == medium {
      border: 3px solid black;
    } @else if $val == heavy {
      border: 6px solid black;
    } @else {
      border: none;
    }
  }

  #box {
    width: 150px;
    height: 150px;
    background-color: red;
    @include border-stroke(medium);
  }


  
  @each $c in blue,black,red {
    .#{$c}-bg {background-color : $c}
  }
  
    div {
      height: 200px;
      width: 200px;
    }


    $i : 1;
    @while $i <6{
      .text-#{$i} {font-size : 15px * $i};
    
      $i : $i + 1;
    }
    

// @extend
  h3{
    text-align: center;
  }
  .info{
    width: 200px;
    border: 1px solid black;
    margin: 0 auto;
  }

  .info-important{
    @extend .info;
    background-color:magenta;
  }


